<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.appheater.test"
        versionCode = "100"
        version     = "1.0.0" >

	<name>HKTopblogger</name>

	<description>HKTopblogger</description>

	<author href="http://alankwok.hopto.org" email="alankwok@yahoo.com">Alan Kwok</author>

	<gap:platform name="android" />

	<preference name="phonegap-version" value="3.5.0" />

	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- Add Icon, Splash screen and any PhoneGap plugin declaration here -->

	<gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
	<gap:plugin name="org.apache.cordova.network-information" source="npm" />

</widget>
